#app/stylesheets/application.sass
#header
  background-color: steelblue
  padding: 1px 10px 1px 10px
  h1
    align: center
    color: white
    font-size: 1.2em
    font-weight: bold
body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  background-color: gainsboro
  a.button 
    text-decoration: none
    background-color: #d0d0d0
    color: black
    padding: 3px 6px 2px 6px
    border-top: 1px solid white
    border-right: 2px solid #555555
    border-bottom: 2px solid #555555
    border-left: 1px solid white
  a
    color: #336699
  h2
    padding-bottom: 12px
    font-weight: bold
    font-size: 1.3em
  h3
    float: left
    width: 70%
  #footer
    clear: both
    align: left
    padding: 50px 10px 10px 10px
#logout
  float: right
  padding: 10px 0px 10px 10px
#meld
  background-color: sandybrown
  float: left
  padding: 5px 0px 5px 0px
  width: 60%
#main
  float: left
  width: 100%
  padding: 5px 5px 10px 0px
  h2
    font-size: 1.2em
  table.t1
    border: outset 3px
    padding-right: 0px
    width: 100%
    thead
      background-color: lightsteelblue
    font-size: 1.2em
    tr.odd
      background-color: peachpuff
    tr.even
      background-color: lightblue
    td
      border: inset 1px