-# file: app/views/todo/login.haml
-form_for @user, url(:user, :register), method: :put do |f|
	= f.label :Email 
	= f.text_field :email
	= f.label :Password 
	= f.password_field :pw
	%p
	.form-actions
		=f.submit value: 'Login'
		=submit_tag :Register, name: :register
		